h1,
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.message {
  animation: message 5s;
};

@keyframes message {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
