.member-item {
    cursor: pointer;
    padding: 0.25em 0;
    height: 10px;
  }

.member-list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: auto;
}